In [20]:
name = "rahmat_fitrah"
age = 15
address,province = "JL.K.Ahamad_Sanusi","7413412"
pythonScore = 90.5
isMarried = True

print("Nama :",name)
print("Umur :",age)
print("Alamat :",address)
print("province :",province)
print("Nilai pemrograman :",pythonScore)
print("Status Menikah :",isMarried)

Nama : rahmat_fitrah
Umur : 15
Alamat : JL.K.Ahamad_Sanusi
province : 7413412
Nilai pemrograman : 90.5
Status Menikah : True

In [22]:
print("Tipe Data (Nama) :",type (name))
print("Tipe Data (age) :",type (age))
print("Tipe Data (address) :",type (address))
print("Tipe Data (province) :",type (province))
print("Tipe Data (scorePyhon) :",type (pythonScore))
print("Tipe Data (Status Menikah) :",type (isMarried))

Tipe Data (Nama) : <class 'str'>
Tipe Data (age) : <class 'int'>
Tipe Data (address) : <class 'str'>
Tipe Data (province) : <class 'str'>
Tipe Data (scorePyhon) : <class 'float'>
Tipe Data (Status Menikah) : <class 'bool'>

In [24]:
#Casting atau Konversi Tipe Data

strToInt = int(province)
strToFloat = float(province)
strToBool = bool(province)
print(strToInt+2,strToFloat,strToBool)

intToStr = str(age)
intToFloat = float(age)
intToBool = bool(age)

print(intToStr,intToFloat,intToBool)

intToStr = str(pythonScore)
intToint = int(pythonScore)
intToBool = bool(pythonScore)

print(intToStr,intToint,intToBool)

intToStr = str(isMarried)
intToInt = int(isMarried)
intToFloal = float(isMarried)

print(intToStr,intToInt,intToFloal)

7413414 7413412.0 True
15 15.0 True
90.5 90 True
True 1 1.0

In [26]:
#String adalah kumpulan dari beberapa karakter dan immutable
city = "jayapura"
panjang = len(city)
print(city[0])
print(len(city))
print(city[panjang-1])

j
8
a

In [28]:
desimal = 500
biner = 0b1010
octal = 0o377
hexa = 0xff

print("Nilai desimal:",desimal)
print("Nilai biner:",biner)
print("Nilai octal:",octal)
print("Nilai hexa:",hexa)

print("Biner dari",desimal,":",bin(desimal))
print("octal dari",desimal,":",oct(desimal))
print("hexadesimal dari",desimal,":",hex(desimal))

Nilai desimal: 500
Nilai biner: 10
Nilai octal: 255
Nilai hexa: 255
Biner dari 500 : 0b111110100
octal dari 500 : 0o764
hexadesimal dari 500 : 0x1f4

In [18]:
#Tipe data Collection
cities = ["Sukabumi","Malang","Bandung","Jayapura"]
print(cities)
print(cities[0])
print(cities[len(cities)-1])
cities[1] = "Jakarta"
print(cities)

hobbies = ("Basket","Foot Baal","Sholat")
print(hobbies)
print(hobbies[0])
#hobbies[0] = "Watching Netflix" error program
studentData = {
    "name" : "Andi",
    "age" : 20,
    "alamat": {
        "jalan" : "JL. Cibolang Kaler",
        "nomer" : 21,
        "provinsi" : "kab. Sukabumi"
}
}

studentList = [
    {
    "name" : "Andi",
    "age" : 20,
    "alamat": {
        "jalan" : "JL. Cibolang Kaler",
        "nomer" : 21,
        "provinsi" : "kab. Sukabumi"
}
},
    {
    "name" : "budi",
    "age" : 40,
    "alamat": {
        "jalan" : "JL. Cibolang Kaler",
        "nomer" : 41,
        "provinsi" : "kab. Sukabumi"
}
}
]
print(studentList)
print(studentData["name"])
print(studentData["alamat"]["provinsi"])

['Sukabumi', 'Malang', 'Bandung', 'Jayapura']
Sukabumi
Jayapura
['Sukabumi', 'Jakarta', 'Bandung', 'Jayapura']
('Basket', 'Foot Baal', 'Sholat')
Basket
[{'name': 'Andi', 'age': 20, 'alamat': {'jalan': 'JL. Cibolang Kaler', 'nomer': 21, 'provinsi': 'kab. Sukabumi'}}, {'name': 'budi', 'age': 40, 'alamat': {'jalan': 'JL. Cibolang Kaler', 'nomer': 41, 'provinsi': 'kab. Sukabumi'}}]
Andi
kab. Sukabumi