<h4>for variabel in collection</h4>

In [2]:
fruits = ["apple","banana","wartermelon","pineapple"]
for fruits in fruits :
    print(f"Nama Buah :{fruits}")

Nama Buah :apple
Nama Buah :banana
Nama Buah :wartermelon
Nama Buah :pineapple

In [4]:
#contoh:
#Kelas TI24F punya data nilai pemrograman python 80,100,90,70,70,50,40
#Carilah nilai rata-rata nilai pemrograman python di kelas TI24F

nilaipython = [80,100,90,70,70,50,40]
total = 0
for nilai in nilaipython:
    total += nilai

rata2 = total / len(nilaipython)
print(f"Nilai rata-rata : {rata2}")

Nilai rata-rata : 71.42857142857143

In [10]:
#Fnumerate
month = ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep"]
for i, m in enumerate(month):
   print(f"{i} : {m}")

0 : Jan
1 : Feb
2 : Mar
3 : Apr
4 : May
5 : Jun
6 : Jul
7 : Aug
8 : Sep

In [18]:
kampus = input ("Isikan Nama Kampus: ")
listVokal = ["a","i","u","e","o"]
total = 0
isVokal =""
for karakter in kampus:
    if karakter in listVokal:
        total +=1
        isVokal = "Huruf Vokal"
    else:
        isVokal = "Bukan Huruf Vokal"
    print(f"{karakter}adalah{isVokal}|Total:{total}") #berapa banyak huruf vokal 'a,i,u,e,o'
print(f"Jumlah Total Huruf Vokal : {total}")

Isikan Nama Kampus:  nusa putra

nadalahBukan Huruf Vokal|Total:0
uadalahHuruf Vokal|Total:1
sadalahBukan Huruf Vokal|Total:1
aadalahHuruf Vokal|Total:2
 adalahBukan Huruf Vokal|Total:2
padalahBukan Huruf Vokal|Total:2
uadalahHuruf Vokal|Total:3
tadalahBukan Huruf Vokal|Total:3
radalahBukan Huruf Vokal|Total:3
aadalahHuruf Vokal|Total:4
Jumlah Total Huruf Vokal : 4

In [22]:
#looping list comprehension
data = [1,2,3,4,5]
pangkat = [x**2 for x in data]
print(pangkat)

[1, 4, 9, 16, 25]

In [30]:
#Range
for i in range(10):
    print(f"nilai i adalah:{i}")

nilai i adalah:0
nilai i adalah:1
nilai i adalah:2
nilai i adalah:3
nilai i adalah:4
nilai i adalah:5
nilai i adalah:6
nilai i adalah:7
nilai i adalah:8
nilai i adalah:9

In [32]:
for j in range(5,10):
    print(f"Nilai j : {j}")

Nilai j : 5
Nilai j : 6
Nilai j : 7
Nilai j : 8
Nilai j : 9

In [50]:
#cek bilangan prima atau bukan prima
number = int(input("isikan Bilangan:"))
faktor = 0
for i in range (1,number+1):
    if number % i == 0:
       faktor +=1
if faktor==2:
    print(f"{number } adalah bilangan prima")
else:
    print(F"{number } adalah bukan prima")

isikan Bilangan: 6

6 adalah bukan prima

In [66]:
#faktorial
#3! 3*2*1 = 6
#4! 4*3*2*1 =24
total = 1
number = int(input("Isikan Bilangan :"))
for i in range(1,number+1):
    total *= i
print(f"{number}! = {total}")

Isikan Bilangan : 4

4! = 24

In [60]:
#1 -2 3 -4 5 -6 7 -8 9 -10
number = int(input("Isikan Bilangan:"))
sign = 1
for i in range(1,number+1):
    result = sign * i
    print(f"{result} ",end='')
    sign *= -1

Isikan Bilangan: 10

1 -2 3 -4 5 -6 7 -8 9 -10

In [74]:
KursiBioskop = ["L","P","P","L","L","P","L"]

#Hitung jumlah penonton Laki-laki
#HItung jumlah penonton perempuan

totallaki = 0
for jenis in KursiBioskop:
    if jenis=="L":
        totallaki +=1
print(f"Jumlah Penonton Laki-Laki:{totallaki}")
print(f"jumlah penonton perempuan:{len(KursiBioskop)-totallaki}")

Jumlah Penonton Laki-Laki:4
jumlah penonton perempuan:3

In [76]:
#Hitung jumlah orang yang kemungkinan berpasangan

kursi = ["L","P","P","L","L","P","L"]
couple = 0
for i in range(len(kursi)-1):
    if kursi [i] != kursi[i+1]:
        couple+=1
print(f"Jumlah Couple:{couple}")

Jumlah Couple:4

In [78]:
data = {
    "fname" : "Dedi",
    "lname" : "Robi"
}

for key ,value in data.items():
    print(f"{key} : {value}")

fname : Dedi
lname : Robi

In [ ]:
tahu =[10,10,10,10,10,10]

#harga 1 tahu = 2000
#jika ada orang beli 15 tahu